@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
input[type='checkbox'] {
    width: 30px;
    height: 30px;
    top: 20px;
}

html {
    background: none;
}

body {
    font-family: 'Cairo', sans-serif !important;
    background: url('../../img/BackgroundH2.jpg') fixed !important;
    overflow-x: hidden;
}

.booking-dropoff-info {
    width: 48% !important;
}

.booking-car-price-container {
    background: #002366 !important;
}

.booking-car-price-now {
    color: white !important;
}

.bodycontainer {
    width: 100%;
    overflow: hidden;
}

button {
    background: #002366 !important;
    color: white !important;
}

button a {
    color: white !important;
}

.orange-checkbox input[type=checkbox]:checked+label {
    background: #002366 !important;
}

.details {
    width: 40vw !important;
}

.clear {
    float: none;
}

.fa-info-circle {
    font-size: 2em;
    padding-top: 2vh;
    transform: translateX(-5vw);
    color: red;
}

.fa-info-circle:hover {
    color: rgb(68, 1, 1);
}

.booking-content {
    margin: auto;
}

.ddee {
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.568);
    text-align: center;
    top: 0;
    right: 0;
    display: none;
}

.ddee-con1 {
    background-color: white;
    color: black;
    display: none;
    text-align: center;
    padding: 10px;
    margin: 80px auto;
    border-bottom: silver solid 1px;
    border-top: silver solid 1px;
}

.ddee-con1 ul {
    text-align: right;
    padding: 20px;
    font-size: 15px;
}

.ddee-con1 ul li {
    padding-right: 5px;
}

.no {
    background-color: #002366 !important;
    color: white !important;
    text-decoration: none !important;
    text-align: center !important;
    height: 40px !important;
    width: 100px !important;
    font-size: 20px;
    outline: none;
    border: none;
    margin: 0 5px;
}

.agr {
    background-color: #002366 !important;
    color: white !important;
    text-decoration: none !important;
    text-align: center !important;
    height: 40px !important;
    width: 100px !important;
    font-size: 20px;
    outline: none;
    border: none;
    margin: 0 5px;
}

.hhh1 {
    display: block;
    margin: auto;
    text-align: center;
}

.mela {
    background-color: none;
    font-size: 15px;
    color: #002366;
}

.min {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: 50% 25% 20%;
    justify-items: right;
    border-bottom: solid 1px white;
    border-top: solid 1px white;
    position: relative;
}

.img {
    display: inline-block;
}

.img>img {
    height: 50px;
    width: 70px;
}

.img>h1 {
    font-size: 21px;
}

.img>p {
    margin: 10px 5px;
    font-size: 18px;
    color: gray;
}

.img img,
h1 {
    display: inline-block;
    margin: auto;
}

.price {
    height: 100%;
    width: 100%;
    font-size: 20px;
    margin-right: 10%;
    text-align: center;
    padding: 20px 0;
}

.price h2 {
    font-size: 25px;
    display: inline-block;
}

.price h2 i {
    color: #000;
    font-size: 30px;
}

.form-switch a {
    display: block;
}

.form-switch .form-check-input {
    height: 30px;
    width: 60px;
    display: block;
    visibility: visible;
    margin: 0;
    margin-top: 20px;
}

.form-switch .form-check-input:focus {
    outline: none;
    border: none;
}

.check {
    text-align: right;
    height: 100%;
    width: 100%;
}

.agree {
    background: linear-gradient( 90deg, rgb(1 0 60 / 76%) 0%, #001838 0%, #0081eb 103%) !important;
    border-radius: 15px;
    width: 100px;
    height: 30px;
}

.cancel {
    background: linear-gradient( 90deg, rgb(1 0 60 / 76%) 0%, #3d0101 0%, #e20505 103%) !important;
    border-radius: 15px;
    text-align: center;
    align-self: center;
    height: 30px;
    width: 100px;
    color: #fff;
}

.cancel:hover {
    background-color: transparent;
    color: black;
}

.hide {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.445);
    display: none;
    z-index: 100000000000;
}

.hn h3 {
    color: #fff;
}

.info div p,
.min h1,
.min h2 {
    color: #000;
}

.det {
    background-color: white;
    padding: 20px;
    width: 40%;
    margin: 10px auto;
    border-radius: 10px;
    transition: .5s;
}

.det h2 {
    font-size: 25px;
    padding: 10px;
    text-align: center;
    border-bottom: solid 1px rgb(221, 221, 221);
}

.det ul {
    padding: 15px;
    text-align: right;
    font-size: 15px;
}

.det ul li {
    word-wrap: break-word;
}

.btns {
    text-align: center;
    padding: 10px;
}

.det button,
.det label {
    margin: 10px 40px;
    border: none;
    outline: none;
    color: white;
    background-color: #002366;
    padding: 10px 30px;
}

.check1:checked~.hide1 {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.445);
    display: none;
    z-index: 100000000000;
    display: block !important;
}

.check2:checked~.hide2 {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.445);
    display: none;
    z-index: 100000000000;
    display: block !important;
}

.check3:checked~.hide3 {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.445);
    display: none;
    z-index: 100000000000;
    display: block !important;
}

.check4:checked~.hide4 {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.445);
    display: none;
    z-index: 100000000000;
    display: block !important;
}

.check5:checked~.hide5 {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.445);
    display: none;
    z-index: 100000000000;
    display: block !important;
}

.check6:checked~.hide6 {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.445);
    display: none;
    z-index: 100000000000;
    display: block !important;
}

.check7:checked~.hide7 {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.445);
    display: none;
    z-index: 100000000000;
    display: block !important;
}

.hhii {
    position: absolute;
}

#hhii1:checked~.hide1 {
    display: none !important;
}

#hhii2:checked~.hide2 {
    display: none !important;
}

#hhii3:checked~.hide3 {
    display: none !important;
}

#hhii4:checked~.hide4 {
    display: none !important;
}

#hhii5:checked~.hide5 {
    display: none !important;
}

#hhii6:checked~.hide6 {
    display: none !important;
}

#hhii7:checked~.hide7 {
    display: none !important;
}

.go-btn {
    background-color: white;
    text-align: center;
    padding: 20px 0;
}

.go-btn a {
    background-color: #002366 !important;
    color: white !important;
    text-decoration: none !important;
    text-align: center !important;
    font-size: 20px;
    outline: none;
    border: none;
    margin: 0 50px;
    padding: 5px 20px;
}

.booking-step-indicator {
    height: inherit;
    padding: 10px;
}

.brdg {
    width: 100% !important;
    position: absolute !important;
    z-index: -100000 !important;
    background: none !important;
    height: 100% !important;
    color: gray;
}

.spanz {
    background: none;
    width: 100% !important;
    text-align: center;
    padding: 15px;
}

.spanz span {
    border-radius: 45px;
    border: solid 2px gray;
    background: #002366;
    color: white;
    width: 500px !important;
    margin: 50px 7%;
    padding: 10px 20px;
}

.hr:empty {
    position: absolute !important;
    margin: auto;
    width: 100%;
    z-index: -1798;
    display: block;
    background: red;
}

.float-normal {
    float: inherit !important;
}

.hehed {
    background-color: white;
    margin: 10px 0;
    padding: 10px;
}

.hide {
    display: none;
}

.min-boody {
    margin-top: 10px;
    padding: 0;
}

.moreDetails {
    display: none;
}

.crcr {
    background: #f7f6f6b0;
    margin: 0;
}

.crcr img {
    transition: .5s;
    margin: auto;
}

.crcr img:hover {
    transform: scale(1.05);
}

.dd {
    width: 100%;
    background-color: #002366;
    color: wheat;
    margin: auto;
    padding: 10px 0;
}

.dd p {
    font-size: 30px;
    margin: 10px;
    font-weight: bold;
    display: inline-block;
    color: #fff;
}

.dd p:last-child {
    font-size: 15px;
}

.fa-chair,
.fa-shield-alt,
.fa-user-shield,
.fa-car,
.fa-map-marker-alt,
.fa-home,
.fa-shipping-fast {
    margin: 10px;
    margin-right: 20px;
    font-size: 2em;
    color: red;
}

.m-r-n {
    margin-right: 15px;
}

.min-boody2 {
    margin-top: 5px;
    padding-left: 1px;
    float: left;
    height: 100%
}

.info {
    margin-top: 5px;
    padding: 10px 0;
    background: rgb(255 255 255 / 80%);
    font-weight: bold;
}

.momo {
    width: 100%;
    transition: .6s;
}

.momo>div {
    font-size: 1.2em;
    margin: 0px;
    direction: rtl;
}

.momo>div>p {
    display: inline-block;
    width: 49%;
}

.info.pr .icofont.icofont-cur-riyal {
    color: #0d1a80;
}

.pr h2 {
    text-align: center;
    width: 80%;
    border: 2px #0d1a80 solid;
    color: #0d1a80;
    padding: 10px;
    margin: 10px auto;
    background: #c3c9ff;
    font-size: 50px;
    font-weight: bold;
    border-radius: 10000px
}

.container {
    background: none;
}

.contract-additions {
    background-color: rgb(255 255 255 / 80%) !important;
    padding: 0 20px 20px 20px;
    height: 100%;
}

.hn {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    background: #002366;
    color: #000;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px #002366;
}

.hn h3 {
    padding: 10px;
    margin: 5px 0;
}

.momo div p {
    color: #000;
}

.red,
.momo div p.red {
    color: #0d1a80;
}

.AdditionsTitle {
    font-weight: bold;
    color: #002366;
    font-size: 40px;
    display: inline-block;
    border-bottom: solid 3px #002366;
}

.form-check-input:checked {
    background-color: #002366 !important;
    border-color: #002366 !important;
}

.form-check-input {
    background-color: #85ade9 !important;
    border-color: #85ade9 !important;
}

.inp1 {
    margin: 0 !important;
    float: right !important;
}

.inp2 {
    float: left !important;
    margin: 0 !important;
}

.YH-a,
.YH-b {
    margin: 0 !important;
}

.YH-a {
    position: absolute;
}

.YH-b {
    left: 15px;
}

.YH-a {
    right: 15px;
}

fieldset {
    min-width: fit-content;
}

.check div ul * {
    color: #002366;
}

.pro-bar li:nth-child(1)::after {
    height: 0;
}

@media (max-width:1276px) {
    .YH-p {
        font-size: 15px;
    }
    @media (max-width:1100px) {
        .YH-p {
            font-size: 11px;
        }
        .min h1 {
            font-size: 20px
        }
        .min p {
            font-size: 18px
        }
        .price {
            text-align: center;
        }
        .price h2 {
            font-size: 16px !important;
        }
        .form-switch .form-check-input {
            height: 23px;
            width: 52px;
        }
        .momo>div {
            font-size: 11px;
        }
        .pr h2 {
            font-size: 20px;
        }
        @media (max-width:799px) {
            .pro-bar li {
                font-size: 15px;
            }
            @media (max-width:767px) {
                .min-boody2 {
                    padding-right: 0px;
                }
                .fa-info-circle {
                    float: left;
                }
                .pro-bar li {
                    font-size: 13px;
                }
                .momo>div {
                    font-size: 16px;
                }
                .YH-p {
                    font-size: 16px;
                }
            }
            @media (max-width:656px) {
                .pro-bar li {
                    font-size: 11px;
                }
                @media (max-width:561px) {
                    .pro-bar li {
                        font-size: 8px;
                    }
                }
            }
        }
    }
}