@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
body {
    background: url('../../img/BackgroundH2.jpg') fixed !important;
}

.H3-TST-D1 * {
    color: #000;
    direction: ltr;
}

.H3-TST-D1 {
    background-color: #fff;
    text-align: right;
    font-family: 'Cairo', sans-serif;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 20%);
}

.H3-TST-D2 {
    float: left;
    padding: 5px 10px;
}

.H3-TST-D2-1 {
    width: 70%;
}

.H3-TST-D2-2 {
    width: 30%;
}

.H3-TST-DI {
    width: 300px;
    height: 200px;
    margin: auto;
}

.H3-TST-DI img {
    width: 100%;
    height: 100%;
}

.H3-TST-D3 {
    margin: 20px 0;
}

.H3-TST-D3 h2 {
    color: #0d1a80;
}

.H3-TST-D3 h2 span {
    color: #777;
    font-size: 15px;
}

.H3-TST-D3 h3 {
    color: #0d1a80;
}

.H3-TST-D3 h4 {
    color: #777;
}

.H3-TST-D3 p {
    color: #777;
}

.H3-TST-D4-1 {
    display: table;
    background-color: #f0f0e1;
    padding: 5px 10px 0;
    margin: 10px 0;
    width: 100%;
}

.H3-TST-D5-1 {
    float: right;
    margin: 0;
    width: 50%;
    font-size: 20px;
    color: #777;
}

.H3-TST-D5-1 input {
    width: 18px;
    height: 18px;
    margin-left: 5px;
}

.H3-TST-D5-1 i {
    color: #fff;
    font-size: 38px;
}

.H3-TST-D5-1 span span {
    padding: 10px;
    top: -4px;
    position: relative;
}

.H3-TST-D4-1-hover:hover .H3-TST-D5-1 i,
.H3-TST-D4-1-hover:hover .H3-TST-D5-1,
.H3-TST-D4-1-hover:hover .H3-TST-D5-1 p {
    color: #0d1a80;
}

.H3-TST-D3-2 .H3-TST-D4-1 {
    background-color: #b8b9b3;
}

.H3-TST-D3-2 .H3-TST-D5-1,
.H3-TST-D3-2 .H3-TST-D5-1 p {
    color: #000;
}

.H3-TST-D4-1.H3-P {
    background-color: #848478;
}

.H3-TST-D4-1.H3-P .H3-TST-D5-1 p,
.H3-TST-D4-1.H3-P .H3-TST-D5-1 {
    color: #fff;
    font-weight: 700;
}

.H3-TST-D2-2 .H3-TST-D3-2 {
    background-color: #eff0e0;
}

.H3-TST-D4-2 {
    padding: 5px 10px;
    border-bottom: 1px solid #fff;
}

.H3-TST-D4-2 h5 {
    color: #0d1a80;
    font-weight: 600;
}

.H3-TST-D4-2 p {
    color: #0d1a80;
    font-weight: 500;
}

.H3-TST-D4-2 p i {
    font-size: 23px;
    margin-right: 5px;
    color: #777;
}

.H3-icons {
    display: inline-flex;
    width: 100%;
    margin-top: 5px;
}

.H3-icons div {
    float: right;
    width: 25%;
    text-align: center;
}

p.H3-TST-P-PR {
    color: #777;
    font-size: 30px;
}

p.H3-TST-P-PR span {
    font-size: 15px;
}

.pro-bar li:nth-child(1)::after {
    height: 0;
}

.orange-checkbox-value {
    color: #000;
}

@media (max-width:1112px) {
    .H3-TST-D2 {
        float: none;
    }
    .H3-TST-D2-2,
    .H3-TST-D2-1 {
        width: 100%;
    }
}