@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&display=swap');
body {
    /* background: url('back.jpg') no-repeat  ; */
    direction: rtl;
    /* background-size:100% 100%;
           background-attachment: fixed; */
    font-family: 'Cairo', sans-serif !important;
    /* background: rgb(0,73,136) !important; */
    background: url('../../img/Untitled-1.png') fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.bodycontainer {
    margin: auto !important;
    width: 100%;
}

.bodycontainer * {
    color: #000 !important;
}

.men3 {
    color: white !important;
}

.container1 {
    width: 100%;
    background: gray;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: black;
    text-align: center !important;
    background: #fff;
    border: 7px solid #ccc;
}

.back {
    /* background: #00246691 ;
    height: 100%;
    width: 100%; */
    /* filter: blur(8px); */
    text-align: center !important;
}

.container .back>div {
    padding: 10px;
    /* width:100% ; */
    color: white;
    border-bottom: solid 1px white;
    text-align: center !important;
    border: 2px solid #ccc;
}

.title {
    margin: 0;
    padding: 20px;
    text-align: center !important;
}

.title h1 {
    padding: 0;
    margin: 0;
    text-align: center !important;
}

.detel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: right;
    text-align: center !important;
}

.code {
    font-size: 25px;
    text-align: center !important;
}

.code p,
h1 {
    /* margin-top: 20px; */
    /* margin:30px 10px ; */
    margin: 5px;
    text-align: center !important;
}

.dis {
    font-size: 20px;
    text-align: center !important;
}

.date {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: right;
    font-size: 20px;
    text-align: center !important;
}

.date p {
    margin: 5px;
    text-align: center !important;
}

.price {
    padding: 30px;
    font-size: 25px;
    /* text-align: center; */
    text-align: center !important;
}

.complet {
    font-size: 20px;
    font-weight: bold;
    word-wrap: break-word;
    text-align: center !important;
}

.mem-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center !important;
    /* width: 100%; */
}

.mebary {
    text-align: center;
    width: 90%;
}

.mebary img {
    width: 90%;
}

.men1 {
    background: linear-gradient(90deg, rgb(111, 64, 16) 0%, rgb(247, 179, 80) 50%, rgb(228, 160, 14) 103%) !important;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    text-align: center !important;
}

.men2 {
    background: linear-gradient(90deg, #635f5f 0%, rgb(217, 217, 241) 103%) !important;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    text-align: center !important;
    border-radius: 30px;
}

.men3 {
    background: linear-gradient(90deg, #000 0%, rgb(54, 50, 50) 103%) !important;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    text-align: center !important;
    border-radius: 30px;
}

.memd {
    display: none;
    padding: 10px;
    box-shadow: inset 0 2px 5px #002366, inset -2px -2px -5px #002366;
    /* border: solid 3px rgb(19, 23, 54); */
    margin-top: 5px;
    border-bottom: solid 5px rgb(19, 23, 54);
    text-align: center !important;
}

.memd1 {
    color: black;
    /* border-bottom: solid 5px rgb(168, 146, 17); */
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center !important;
}

.memd2 {
    color: black;
    /* border-bottom: solid 5px rgb(168, 166, 154); */
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center !important;
}

.memd3 {
    color: white;
    /* border-bottom: solid 5px rgb(116, 36, 36); */
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center !important;
}

.od-tit {
    text-align: center;
    padding: 5px;
    text-align: center !important;
}

.red {
    color: #002352 !important;
}

.head {
    /* background: white; */
    width: 60%;
    margin-top: 30px;
    margin: 10px auto;
    /* position: relative; */
    margin-bottom: 10px;
    text-align: center;
}

.bnb {
    position: absolute;
    background: rgb(255, 255, 255, 80%);
    width: 60%;
    height: 110px;
    z-index: -10;
    border-radius: 20px;
    padding-bottom: 0;
}

.pro-bar {
    counter-reset: step;
    padding: 0;
    /* margin-top: 15px; */
}

.pro-bar li {
    list-style: none;
    /* float: right; */
    display: inline-block;
    width: 17%;
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 15px;
    font-weight: bold;
}

.pro-bar li::before {
    content: counter(step);
    counter-increment: step;
    width: 50px;
    padding-top: 7px;
    height: 50px;
    line-height: 30px;
    border: 1px solid rgb(2, 2, 2);
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50px;
    background: white;
    color: black;
    padding-bottom: 15px;
    /* font-weight:600 !important; */
    font-size: 40px;
    font-family: 'Brygada 1918', serif;
}

.pro-bar li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(0, 0, 0);
    top: 25px;
    right: -50%;
    z-index: -1;
}

.pro-bar li:nth-child(5):after,
.pro-bar li:nth-child(4):after,
.pro-bar li:nth-child(3):after,
.pro-bar li:nth-child(2):after,
.pro-bar li:nth-child(1):after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(1, 1, 82);
    top: 25px;
    right: -50%;
    z-index: -1;
}

.pro-bar li:nth-child(5)::before,
.pro-bar li:nth-child(4)::before,
.pro-bar li:nth-child(3)::before,
.pro-bar li:nth-child(2)::before,
.pro-bar li:nth-child(1)::before {
    background-color: rgb(1, 1, 82);
    color: white;
}

.pro-bar li:first-child::after {
    content: none;
}

.pro-bar .active::after {
    content: none;
    border: none;
}

.od-tit {
    font-weight: bold;
    font-size: 29px;
    padding: 45px 0;
}

.date div {
    border: 1px solid;
    margin: 0 1px;
}

footer {
    margin-top: 0vh !important;
}